:root {
  --orange: #fb7413;
  --white: white;
  --light_gray: #959eac;
  --medium_gray: #7c8798;
  --dark_blue: #252d37;
  --very_dark_blue: #121417;
}

* {
  margin: 0;
  padding: 0;
  font: 15px;
}

* a {
  text-decoration: none;
}

* li {
  list-style: none;
}

body {
  font-family: 'Overpass', sans-serif;
  background-color: #111114;
}

.wrapper {
  display: -ms-grid;
  display: grid;
  place-items: center;
  height: 100vh;
}

.container {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#1f262e), to(#191e24));
  background-image: linear-gradient(#1f262e, #191e24);
  width: 18em;
  height: 20.5em;
  padding: 1em 2em;
  border-radius: 2em;
  position: relative;
}

.contents {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contents__p {
  color: #959eac;
}

.contents a {
  color: white;
}

.contents__icon {
  position: absolute;
  left: 0;
  top: 0;
  margin: 2em;
  background-color: #252d37;
  padding: 1em;
  border-radius: 5em;
}

.contents__h1 {
  color: white;
  font-size: 1.5rem;
  font-weight: 400;
  margin: 3.8em 0 0.5em 0;
}

.contents__p {
  margin-bottom: 2em;
  font-size: 0.8rem;
  line-height: 1.5em;
}

.contents__ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 1em;
}

.contents__ul--li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 2.9em;
  height: 2.9em;
  text-align: center;
  background-color: #252d37;
  border-radius: 4em;
}

.contents__ul--li:hover {
  background-color: #7c8798;
  cursor: pointer;
}

.contents__btn {
  all: unset;
  padding: 0.9em;
  color: white;
  background-color: #fb7413;
  border-radius: 1.3em;
  text-align: center;
  text-transform: uppercase;
  margin-top: 1.8em;
  font-size: 0.8rem;
  font-weight: bold;
  letter-spacing: 2px;
}

.contents__btn:hover {
  background-color: white;
  color: #fb7413;
  cursor: pointer;
}

.submission {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.submission__img {
  margin: 1em;
}

.submission__outof {
  margin: 1em;
  color: #fb7413;
  font-size: 0.78rem;
  letter-spacing: 0.03em;
  padding: 0.3em 1em;
  background-color: #252d37;
  border-radius: 2em;
}

.submission__h1 {
  color: white;
  font-weight: 400;
  font-size: 1.6rem;
  margin-top: 0.6em;
}

.submission__msg {
  color: #7c8798;
  font-size: 0.8rem;
  margin: 0.8rem 0;
}

.active__color {
  background-color: #fb7413;
}

.hide {
  display: none;
}
/*# sourceMappingURL=style.css.map */